DATABASE_URL="postgresql://neondb_owner:npg_wo1VjytFgQ5b@ep-misty-wildflower-ac64xhv5-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=4000
FRONTEND_ORIGIN=http://localhost:5500